@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
@import url("https://fonts.googleapis.com/css?family=Futura:400,700");

:root {
  font-family: "Futura", sans-serif;
}

.text,
a:active,
a:link,
a:visited {
  color: #585248;
}

body {
  font-family: "Futura", Arial, sans-serif;
  background-color: #DBD3B5;
}

header {
  background-color: #debc4d;
  top: 0;
  position: fixed;
  left: 0;
  padding-top: 5px;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

table {
  border-radius: 25px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  max-width: 100%;
}

th,
td {
  border-radius: 25px;
  text-align: center;
}

h1,
h2 {
  color: #4B1623;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  font: 700 32px "Playfair Display", serif;
}

footer {
  background-color: #454545;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  margin: 0;
}

img {
  border-radius: 15%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

select,
textarea,
button,
input {
  max-width: 100%;
  vertical-align: middle;
  text-align: left;
  background-color: #e5e5e5;
  color: #242424;
  height: 40px;
  width: 100%;
  border: 0;
  box-shadow: none;
  margin-top: 3px;
  margin-bottom: 10px;
  border-radius: 20px;
}

p {
  line-height: 32px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: justify;
}

@media (prefers-color-scheme: dark) {
  .text,
  a:active,
  a:link,
  a:visited,
  body {
    color: #DBD3B5;
  }

  body {
    background-color: #585248;
  }

  header {
    background-color: #4b1623;
  }

  h1,
  h2 {
    color: #DEDEDE;
  }

  footer {
    background-color: #232323;
    color: #DEDEDE;
  }

  select,
  textarea,
  button,
  input {
    text-align: center;
    background-color: #353535;
    color: #dedede;
  }
}
#fuckmylife1234{
    color: #454545, #DEDEDE, #DBD3B5, #008080, #585248, #B8A36A, #DEBC4D #4B1623
}
html,body{
    height: 100%
}
body{
    margin: 0;
    padding: 0;
    background: #585248;
    overflow-x: hidden; /* Hide horizontal scrollbar */

}
.toggle{
    position: relative;
    top: 40px;
    left: 40px;
    z-index: 2
}
.toggle a{
    text-decoration: none;
    color: #B8A36A !important;
    font-size: 24px;
    cursor: pointer;
}
.menu{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 1;
    transition: 0.5s;
    background-color: #4B1623;
}
ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
ul li{
    list-style: none;
}

ul li a{
    padding: 10px;
    display: inline-block;
    font-family: verdana;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #B8A36A;
}
ul li a:hover{
    background: #B8A36A;
    color:#262626;
    text-decoration: none;
}
.menu.active{
    left: 0;
    overflow: auto;
}

.main_title{
    width: 25vh;
    height: auto;
    margin-left: 10px;
    margin-top: -7px;
}
#main{
    margin-top: 100px;
    text-align: left;
    padding: 25px;
}
.text{
    color: #DEBC4D;
    font-size: medium;
}

footer{
    position: relative;
    margin-top: -45px; /* negative value of footer height */
    height: 45px;
    clear:both;
    padding-top:10px;
    background-color: #262626;
    color: white;
    font-size: medium;
    text-align: center;
  }

@media screen and (max-width: 350px) {
    footer{
        font-size: small;
    }
}
